.App {
  text-align: center;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0px;
  height: 100vh;
}


/* Barre de navigation */

.nav-style{
  background-color: rgb(194, 230, 255);
  display: flex;
  justify-content: space-between;
}
.nav1 {
  display: flex;
}

.nav2 {
  display:flex;
  margin-right: 40px;
}

.nav2 > li {
  border: solid 1px rgb(49, 49, 49);
  border-radius: 5px;
}

a:link {
  text-decoration: none;
}

a{
  color:black;
}

li {
  list-style-type:none;
  margin-left: 18px;
  padding:5px;
}

/* Homepage */

.backgroundpic {
  width: 100%;
  height:480px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divhome{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 80px;
}

.divhomeimg{
  width: 1000px;
  height: 1000px;
}

/* Destinations Page */

.countrypic{
  width: 400px;
  height: 350px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px grey;
}

footer{
  font-size: 20px;
  color: white;
  background-color: #282c34;

}
